    body {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    h1, h2, h3 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
      text-align: center;
      margin-top: 20px;
      color: #333;
    }

    #chat {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #messages {
      max-height: 300px;
      overflow-y: auto;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }

    #messages p {
      margin: 0;
      padding: 5px 10px;
      border-radius: 5px;
    }

    #messages strong {
      font-weight: bold;
    }

    p {
      margin: 0;
      padding: 5px 10px;
      background-color: #e0f7fa;
      border-radius: 5px;
    }

    small {
      display: block;
      text-align: right;
      color: #888;
      font-size: 0.8em;
    }

    input {
      width: calc(100% - 20px);
      padding: 8px;
      margin-top: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
      #chat {
        max-width: 100%;
      }
    }
    
    /* CSS untuk notifikasi */
#notification {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success-notification {
  background-color: #4CAF50;
  color: white;
}

.error-notification {
  background-color: #f44336;
  color: white;
}
